nav {
    background-color: lightslategrey;
    display: flex;
}

.mainnav {
    
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    
}

.techcen {
    justify-self: flex-start;
}

.cart {
border: 1px solid red; 
align-self: flex-end;   
}

