nav {
    font-family: 'Raleway', sans-serif;
    color: slategray;
    font-weight: bold;
}

.mainnav {
}


.techcen {
    text-decoration: none;
    color: slategray;
    font-family: 'Raleway', sans-serif;
    font-size: 2.4em;
    margin-left: 1.7rem;
    font-weight: 1000;
    
}

.rightnav {
    display: flex;
    right: 1.7rem;
    gap: 1.7rem;
    

    
}

.search > {
    
}

.dropdownbar {
}


.accountdrop {

}

.cart {
    text-decoration: none;
    margin-right: 1.7rem;
    color: slategray;
    align-self: center;
    
    
}

